docker-compose.yml
NuGet.config

TraineeManagement.Api/bin
TraineeManagement.Api/obj
TraineeManagement.Api/NuGet.config
TraineeManagement.Api/Migrations
TraineeManagement.Api/appsettings.Development.json

TraineeManagement.WORKER/appsettings.Development.json
TraineeManagement.WORKER/bin
TraineeManagement.WORKER/obj

TrainingDirectory.API/appsettings.Development.json
TrainingDirectory.API/NuGet.config
TrainingDirectory.API/bin
TrainingDirectory.API/obj
