<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ZeusCodeArtifact" value="key" />
  </packageSources>
  <packageSourceCredentials>
    <ZeusCodeArtifact>
      <add key="Username" value="aws" />
      <add key="ClearTextPassword" value="aws token key" />
    </ZeusCodeArtifact>
  </packageSourceCredentials>
</configuration>