<div class="login-container">

    <h2>Trainee Management Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


        @if (loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')) {
            <small>
                Username is required
            </small>
        }
        <div>
            <label for="username">Username</label>
            <input
                id="username"
                type="text"
                formControlName="username">
        </div>

        <br>
        @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')) {
            <small>
                Password is required
            </small>
        }
        <div>
            <label for="password">Password</label>
            <input
                id="password"
                type="password"
                formControlName="password">
        </div>

        <br>

        <button type="submit">
            Login
        </button>

    </form>

</div>